.logReg{
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

legend{
font-weight: bold;
}

body:before{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.inputString{
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"]
{
  float: right;
}

body{
  text-align: center;
  position: relative;
}

.buttonSet{
  text-align: center;
}
